body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
